/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: #373fff;
}

.topbar {
  background-color: #6495ED;
  height: 100px;
  overflow: hidden;
  padding: 10px;
}

.topbar h1 {
  color: white;
}

nav div {
  background-color: #D9E9FF;
  padding: 10px;
  margin: 10px;
}

nav div a:link {
  text-decoration: none;
}

nav div a:hover {
  text-decoration: underline;
}

nav div a:visited {
  text-decoration: line-through;
}