body,
html {
    margin: 0;
    background-color: aliceblue;
}

h1 {
    font-size: 25px;
    color: #183957;
}

nav {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2D89E5;
}

li {
    float: right;
    width: 20%;
}

li a {
    font-weight: bold;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
}

.active-nav {
    background-color: rgb(17, 77, 138);
}

li a:hover {
    background-color: rgb(17, 77, 138);
    color: #fff;
}

li:first-child {
    float: left;
}

/* li:last-child {
    pointer-events: none;
    opacity: 0.8;
    float: right;
} */

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

table tr {
    background-color: #abeafb32;
}

table tr:nth-child(even) {
    background-color: #abeafb88;
}

.clickableRow:hover {
    background-color: #428bca85;
    cursor: pointer;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(17, 77, 138);
    color: white;
}

label{
    font-weight: bold;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2D89E5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:disabled,
input[type=submit][disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

input[type=submit]:hover {
    background-color: rgb(17, 77, 138);
}

fieldset {
    width: 80%;
    margin: auto;
    padding: 12px;
    border: 3px solid #183957;
    border-radius: 8px;
}

legend {
    color: rgb(17, 77, 138);
    font-weight: bold;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid #183957;
    border-radius: 8px;
}